@value makerBlack, makerWhite from '../../common/colors.css';
::placeholder {
  color: rgba(255, 255, 255, 0.705);
}
::selection {
  color: rgba(255, 255, 255, 0.705);
}
.form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border-top: 1px solid makerBlack;
  border-left: 1px solid makerBlack;
  margin-bottom: 1em;
}

.input,
.textarea,
.select {
  color: black;
  font-size: 0.8rem;
  width: 100%;
  border: 0;
  padding: 0.5em;
  border-bottom: 1px solid makerBlack;
  border-right: 1px solid makerBlack;
  background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
}

.input,
.select {
  flex: 1 1 30%;
}

.input:focus,
.textarea:focus,
.select:focus,
.button:focus {
  outline: 0;
}

.textarea {
  flex-basis: 100%;
}
.button {
  display: flex;
  width: 100%;
}
