@value makerBlack, makerWhite, selectColor from '../../../common/colors.css';

.ptag {
  color: makerWhite;
  font-size: 2.5rem;
  font-family: "nation nale demibold";
}
.body {
  background-color: makerBlack;
  height: 50rem;
}
.background {
  background-image: url("https://tidal.com/_nuxt/img/hero-bg.c7adb22.png");
  background-repeat: no-repeat;
  background-position-x: 5rem;
  background-position-y: -7rem;
  background-size: 110%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left {
  height: 50%;
}

.leftdiv {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 3rem;
  animation: fadein 5s 1;
}

.player {
  font-family: nation nale bold;
  color: makerWhite;
  margin-bottom: 2rem;
  font-size: 0.8rem;
}
.rightimg {
  width: 40rem;
  margin-right: 0rem;
}
.right {
  /* animation: rotate 3s 1; */
  animation-name: fadein, rotate;
  animation-duration: 10s, 3s;
}
@keyframes slidein {
  from {
    transform: translateY(90%);
  }

  to {
    transform: translateY(0%);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(180deg) translateY(100%) scale(0.25);
  }
  /* 50% {
    -webkit-transform: rotate(90deg) translateY(50%) scale(0.5);
  } */
  100% {
    -webkit-transform: rotate(0deg) translateY(0%) scale(1);
  }
}

@media screen and (max-width: 63rem) {
  .ptag {
    color: makerWhite;
    font-size: 1.5rem;
    font-family: "nation nale demibold";
  }
  .rightimg {
    width: 20rem;
    margin-right: 0rem;
  }
}
@media screen and (max-width: 50rem) {
  .background {
    display: flex;
    flex-direction: column-reverse;
  }
  .ptag {
    color: makerWhite;
    font-size: 1.5rem;
    font-family: "nation nale demibold";
  }
  .rightimg {
    padding-top: 10rem;
    width: 15rem;
    margin-right: 0rem;
  }
}
